:root {
    --bright-green: #83E8BA;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #292929;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

canvas {
    width:100vw;
    height:100vw;
    /* margin-top: 0; */
}

/* main */

.landing-page-grid-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: 100vh;
}